{% extends "fe/app/25014/main/base/admin_base.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">
 
  <div class="card-header" style="height:45px">
    <h5 class="float-start ps-2">Project Detail</h5>
    <button type="button" id="btnCancel" class="btn btn-primary btn-sm float-end ms-2">Close</button>
    <button type="button" id="btnSave" class="btn btn-success btn-sm float-end ms-2">Save</button>
</div>

  <div class="card-body">

	<form method="post" id="project_form">		  
    <div id='x-challenge' class="container-float">
	<div class="row">
		<input type="hidden" class="form-control" id="txt_org_id" value="{{ses.user.id}}" placeholder="" name="user_id">
		<input type="hidden" class="form-control" id="txt_org_name" value="{{ses.user.name}}" placeholder="" name="user_name">
	
	
	<div class="col-4">
	  <label for="exampleFormControlInput1"> Project Title</label>
	  <input type="text" class="form-control" id="exampleFormControlInput1" value="{{project_title}}" placeholder="" name="project_title">
	</div>
	
		
	<div class="col-4">	
	  <label>Project Status</label>
	  <x-select id='status' class="form-select"
		 x-value-id="{{status_id}}" x-value-disp="{{status_name}}" 
		 x-name-id="status_id" x-name-disp="status_name">
		 <option value=''>Select Status</option>
	     <option value="A">Active</option>
		 <option value="I">Inactive</option>

		</x-select>	  
	</div>

    
			
    </form>
	
	</div>
	
	</div>
  </div>
</div>
{% endblock %}

