{% extends "fe/app/25014/main/base/admin_base.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">
  
  <div class="card-header" style="height:45px">
    <h5 class="float-start ps-2">Account Detail</h5>
    <button type="button" id="btnCancel" class="btn btn-primary btn-sm float-end ms-2">Close</button>
    <button type="button" id="btnSave" class="btn btn-success btn-sm float-end ms-2">Save</button>
</div>

  <div class="card-body">
	<form method="post" id="account_form">
	<div class="row">
		<!-- <input type="hidden" class="form-control" id="txt_org_id" value="{{ses.user.id}}" placeholder="" name="user_id"> -->
		<!-- <input type="hidden" class="form-control" id="txt_org_name" value="{{ses.user.name}}" placeholder="" name="user_name"> -->

	
	<div class="col-3">		
		  <label for="exampleFormControlInput1">Account Title</label>
		  <input type="text" class="form-control" id="txtacctitle" value="{{acc_title}}" placeholder="" name="acc_title">
		</div>
	
	<div class="col-3">
		<label>Account Type</label>
		<x-select id='acc_type' class="form-select" 
			x-value-id="{{acc_type_id}}" x-value-disp="{{acc_type_name}}" 
			x-name-id="acc_type_id" x-name-disp="acc_type_name">
			<option value=''>Select an Account Type</option>
			<option value='Cash'>Cash</option>
			<option value='Bank'>Bank</option>
		</x-select>
	</div>

	<div class="col-3">		
		  <label for="exampleFormControlInput1">Balance</label>
		  <input type="text" class="form-control" id="txtbalance" value="{{balance}}" placeholder="" name="balance">
		</div>
	</div>
    </form>
  </div>
</div>
{% endblock %}

