{% extends "fe/app/25014/main/base/admin_base.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">

  <div class="card-header" style="height:45px">
	<h5 class="float-start ps-2">Account List</h5>

	<div class="button btn btn-primary btn-sm float-end ms-2" data-nav='store.account_dtl'><i class="bi bi-dpad"></i> Add</div>
    <div class="input-group input-group-sm float-end ms-2" style="width:200px">
	  <input id="txtSearch" type="text" class="form-control" aria-label="Search">
	  <span class="input-group-text"><i class="bi bi-search"></i></span>
	</div>	
	
  </div>

  <div id="x-accounts" class="py-0 ps-4 px-1" style="width:99.4%">

  </div>  

</div>
{% endblock %}
